@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
html, body{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444344;
}
.Box{
	min-width: 180px;
	min-height: 180px;
	width: 40%;
	height: 90%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	background-color: #7b82a2;
	color: white;
	font-family: 'Courier Prime', monospace;
	border-radius: 12px;
	text-align: center;
}